*.pyc
*.pyo

.DS_Store

.idea/*

.settings/*
.project
.pydevproject

*.dat

sessions/*

node_modules/*
static/upload/*
static/qrcode/*
static/download/excel/*
static/upload/tmp/*
static/*/node_modules/*

htmldev/.idea/*
htmldev/node_modules/*
htmldev/*/node_modules/*
htmldev/*/.sass-cache/*
htmldev/bower_components/*
htmldev/js/static/*
htmldev/*/.idea/*
htmldev/*/*/node_modules/*
htmldev/template/img/after
/zbar.py

publisher.log